@import './colors.scss';

.nav {
  text-align: right;
  padding: $padding;
  background-color: $color-teal;
}

.nav__link {
  margin: 0 10px;
  text-decoration: none;
  font-weight: 400;
  color: $color-white;
  transition: all $transition;

  &:hover {
    color: $color-yellow;
  }
}

.nav__link--active {
  color: $color-black;
}