@import 'variables.scss';
@import 'colors.scss';

.poll-list {
  background-color: $color-white;
  padding: $padding;
  margin-bottom: $vertical-rhythm;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
}

.poll-list__toggle {
  display: inline-block;
  padding: $padding $padding/2;
  background: transparent;
  cursor: pointer;
  color: $color-black;
  transition: all $transition;

  &:hover {
    background-color: $color-grey;
    color: $color-black;
  }
}

.poll-list--true .poll-list__toggle--answered,
.poll-list--false .poll-list__toggle--notanswered {
  background: $color-teal;
  color: $color-white;
}

.poll-list__question {
  padding: $padding;
  margin-bottom: $vertical-rhythm;
  border-radius: $border-radius;
  background-color: $color-grey;
}

.poll-list__question-title {
  margin-bottom: $vertical-rhythm / 2;
}

.poll-list__link {
  display: inline-block;
  padding: $padding / 2;
  border-radius: $border-radius;
  color: $color-white;
  background-color: $color-black;
  transition: all $transition;
  text-decoration: none;

  &:hover {
    background-color: $color-teal;
    color: $color-white;
  }
}

.poll-list__spinner-spacer {
  padding-top: $padding*4;
}