@import 'variables.scss';
@import 'colors.scss';

.poll {
  background-color: $color-white;
  padding: $padding;
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  &--false {
    .poll__option {
      background-color: $color-cream;
    }
    .poll__option:nth-child(even) {
      background-color: $color-grey;
    }
  }
}

.poll__title {
  font-size: 22px;
  line-height: 23px;
  font-weight: 700;
  margin-bottom: $vertical-rhythm;
}

.poll__sub-title {
  font-size: 17px;
  line-height: 19px;
  font-weight: 700;
}

.poll__text {
  font-size: 19px;
  line-height: 22px;
  font-weight: 400;
  &:first-letter {
    text-transform: uppercase;
  }
}

.poll__avatar {
  border-radius: 50%;
  max-width: 200px;
  margin-bottom: $vertical-rhythm;
}

.poll__options {
  position: relative;
  margin-bottom: $vertical-rhythm * 2;
}

.poll__option {
  padding: $padding;
  transition: background-color $transition;
}

.poll__option--selected {
  background: $color-teal;
  color: $color-white;
}

.poll__count {
  margin: 0;
  padding-bottom: 20px;
}

.poll__link {
  display: inline-block;
  padding: $padding / 2;
  border-radius: $border-radius;
  background-color: $color-black;
  color: $color-white;
  transition: all $transition;
  text-decoration: none;

  &:hover {
    background-color: $color-teal;
    color: $color-white;
  }
}

.poll__vote {
  display: inline-block;
  margin: 0 $padding;
  border: none;
  border-radius: $border-radius;
  padding: 5px 8px 6px;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  color: $color-white;
  background-color: $color-teal;
  transition: all $transition;
  text-decoration: none;

  &:hover {
    background-color: $color-black;
    color: $color-white;
  }
}