.nav {
  text-align: right;
  padding: 20px;
  background-color: #00ADB5; }

.nav__link {
  margin: 0 10px;
  text-decoration: none;
  font-weight: 400;
  color: #fff;
  transition: all 0.1s ease-in; }
  .nav__link:hover {
    color: #F8B500; }

.nav__link--active {
  color: #393E46; }
